body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: lavender;
}

h2 {
    color: #333;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#funnyCount, #notFunnyCount {
    font-weight: bold;
    color: (#dcb2d6);
}

#notFunnyCount {
    color: rgb(28, 19, 19);
}

#funnyButton {
    background-color: #ffa0a0;
    color: white;
}

#notFunnyButton {
    background-color: #8adaf0;
    color: white;
}

.piechart {
    margin: auto;
    display: block;
    position: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: conic-gradient(rgb(255, 195, 204) 80deg,
            hsl(195, 53%, 79%) 0 235deg);
}

.piechart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    color: lightblue;
    justify-content: center;
    align-items: center;
}


.heading span {
    display: flex;
    color: pink;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
}